body{  
    background-image: url('fondo.png');
}
#marco{
    margin: 0 auto;
     
    width: 405px;/*400px*/
    /*border: red 1px solid;*/
    align-items: center;
}
#titulo{
    text-align: center;
    width: 394px;
    border: rgba(0, 0, 0, 0.512) 1.5px solid;
    box-shadow: 5px 5px 5px 0px grey;
    background-color: rgb(179, 177, 177);
    
}
#score{
    text-align: center;
    width: 394px;
    border: rgba(0, 0, 0, 0.512) 1.5px solid;
    box-shadow: 5px 5px 5px 0px grey;
    background-color: rgb(179, 177, 177);
}
.board{
    margin-top: 5px;
    border: rgba(0, 0, 0, 0.512) 1.5px solid;
    width: 394px;
    display: grid;
    grid-template-columns: repeat(3,130px);
    grid-template-rows: repeat(3,130px);
    gap: 2px;
    background-color: rgba(0, 0, 0, 0.512);
    box-shadow: 5px 5px 5px 0px grey;
}
.cell{
    width: 130px;
    height: 130px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    cursor: grab;
    color: rgba(229, 5, 5, 0.628);
    font-weight: bold;
}
#score{
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
}
#mensaje{
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
    color:green;
    text-align: center;
    width: 394px;
    border: rgba(0, 0, 0, 0.512) 1.5px solid;
    box-shadow: 5px 5px 5px 0px grey;
    background-color: rgb(179, 177, 177);
}
a{
    text-decoration: none;
    text-align: center;
    width: 394px;
    border: rgba(0, 0, 0, 0.512) 1.5px solid;
    box-shadow: 5px 5px 5px 0px grey;
    background-color: rgb(179, 177, 177);
    font-size: 27px;
    font-weight: bold;
    border-radius: 5%;
    padding: 5px 5px 5px 5px;
}
